<div class="body">

  <div class="login">
     <!-- si el loading es false se muestra el form, ya que en el
    .ts por un momento lo convertirmos a true y se oculta el 
    formulario y luego se vuelve a false, entonces nos muestra
    el formulario. -->
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="Ingresar()">
      <img src="./assets/img/user.png" alt="Imagen de usuario">
      <h1>Autenticación de Usuarios</h1>
      
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput formControlName="usuario">
      </mat-form-field>
      
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
      
      <br>
      <button 
        class="ancho boton"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Ingresar
      </button>

    </form>
  </div>
 

    <!-- hasta que sea true loading ahi recién nos muestra el spinner -->
    <mat-spinner diameter="50" class="spinner" *ngIf="loading"></mat-spinner>
    
</div>