<div class="container">
  <mat-toolbar>
    <span>Ver Usuario</span>
  </mat-toolbar>

  <mat-card class="simple-card-m">
    <form [formGroup]="form">

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" formControlName="usuario" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img src="./assets/img/user.png" alt="usuario" width="250" height="250">
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="nombre" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Apellido</mat-label>
            <input matInput autocomplete="off" formControlName="apellido" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Sexo</mat-label>
            <input matInput autocomplete="off" formControlName="sexo" readonly>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button class="espacio-derecha" (click)="Volver()">Volver</button>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-card>
</div>