table {
  width: 100%;
}

th {
  width: 20%;
}

.alineacion {
  text-align: right;
}
.pointer {
  cursor: pointer;
  margin-right: 1rem;
}

.icono-1 {
  color: #1878b0;
}
.icono-2 {
  color: #1f516f;
}
.icono-3 {
  color: #e15639;
}

// aunque no haya una clase, por dentro se puede agregar una clase con el nombre de la misma etiqueta
.mat-form-field {
  font-size: 14px;
  width: 100%;
}